<div class="
		d-flex
		justify-content-between
		flex-wrap flex-md-nowrap
		align-items-center
		pt-3
		pb-2
		mb-3
		border-bottom
	">
	<h1 class="display-6"><%=title%></h1>
	<a class="me-auto ms-3 link-secondary" href="/dashboard/students/create" aria-label="Add a new report">
		<span id="plusIcon" data-feather="plus-circle"></span>
	</a>



	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group me-2">
			<div class="dropdown-cs">
				<button onclick="dropbtn()" class="btn btn-sm btn-outline-secondary dropbtn"><%=category%> </button>
				<div id="filter" class="dropdown-content">

					<% const filterList = ['All','Java Programming','English Foundation','AL ICT','Web Development'] %>
					<% filterList.forEach(filter => { %>
					<% if (filter !== category) { %>
					<% if (filter === 'All') { %>
					<a class="filter_links" id="filter_links_all" href="/dashboard/students"> <%= filter %> </a>
					<% } else { %>
					<a class="filter_links" href="<%="?courseId="+filter%>"> <%= filter %> </a>
					<% } %>
					<% } %>
					<% }) %>

				</div>
			</div>
		</div>
		<div class="btn-group me-2">
			<button type="button" class="btn btn-sm btn-outline-secondary">
				Share
			</button>
			<button type="button" class="btn btn-sm btn-outline-secondary">
				Export
			</button>
		</div>
	</div>
</div>